.service-list {
  padding: 2.25rem 1rem;
  overflow: hidden;

  @include media-min-sm {
    padding: 4.5rem 1.5rem 6rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;

    @include media-min-md {
      margin-bottom: 2.25rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }

    @media (min-width: $screen-sm) {
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 0.75rem;

      @media (min-width: $screen-xs) {
        margin-bottom: 0;
      }
    }
  }
}
