.promo {
  background-color: $bg-color--dark;
  color: $text-color--light;

  @include media-min-md {
    padding: 4.5rem 1.5rem 10.5rem;
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__slider {
    position: relative;
    z-index: 1;
  }

  &__slide {
    position: relative;
    width: 100%;

    @include media-min-md {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  &__slide-info {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    min-height: 570px;
    padding: 6.25rem 1rem 4.5rem;

    @include media-min-md {
      flex: 0 0 auto;
      justify-content: center;
      width: calc(50% - 60px);
      min-height: auto;
      padding: 0;
      margin-right: 60px;
    }

    @include media-min-lg {
      width: calc(50% - 90px);
      margin-right: 90px;
    }
  }

  &__slide-label {
    display: block;
    font-size: ms(-1);
    line-height: 1.5em;
    margin-bottom: 1.5rem;
  }

  &__slide-title {
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @include media-min-lg {
      font-size: ms(2);
    }
  }

  &__slide-desc {
    font-size: ms(-1);
    line-height: 1.5em;
    margin-bottom: 1.5rem;

    @include media-min-md {
      opacity: 0.75;
      font-size: 16px;
    }

    @include media-min-lg {
      opacity: 0.75;
      margin-bottom: 2.25rem;
    }
  }

  &__slide-more-info {
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: $accent-color;
    font-size: ms(-1);
    line-height: 1.5em;
    font-weight: 500;

    &::before {
      content: '';
      position: absolute;
      top: -0.25rem;
      right: -0.25rem;
      bottom: -0.25rem;
      left: -0.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -0.125rem;
      left: 0;
      background-color: $accent-color;
      height: 1px;
      transform: scaleX(0);
      transition: transform 0.25s $transition-timing;
      transform-origin: center right;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $accent-color;

      &::after {
        transform: scaleX(1);
        transform-origin: center left;
      }
    }
  }

  &__slide-image {
    position: relative;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-max-md {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @include media-min-md {
      flex: 0 0 auto;
      width: 50%;

      @at-root .swiper-slide-active & {

        img {
          transform: scale(1.05);
          opacity: 1;
        }
      }

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: 100%;
      }

      img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition:
          transform 10s ease-out,
          opacity 250ms ease-out 125ms;
      }
    }
  }

  &__slide-image-wrap {
    position: absolute;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: hsla(222, 17%, 15%, 0.5);
    }
  }

  &__slider-pagination {
    position: absolute;
    z-index: 2;
    bottom: 1.8rem;
    left: 1rem;

    @include media-min-md {
      left: 0;
    }
  }

  &__slider-navigation {
    position: absolute;
    z-index: 2;
    right: 0.75rem;
    bottom: 0.75rem;

    @include media-min-md {
      right: calc(50% + 90px);
    }
  }
}
