mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__container
      .page-header__top
        a.page-header__logo(href='/') Реммар
        a.page-header__contact(href='tel:+79859052136') +7 (985) 905-21-36
        a.page-header__get-a-call(href='#get-a-call-modal', data-fancybox='')
          span Заказать звонок
      nav.page-header__nav
        ul.page-header__nav-list
          li
            a(href='services.html') Услуги
          li
            a(href='product-list.html') Товары
          li
            a(href='price.html') Цены
          li
            a(href='/') О компании
          li
            a(href='/') Работы по гидроизоляции
          li
            a(href='/') Реставрация объектов культурного наследия
          li
            a(href='docs.html') Документы
          li
            a(href='contacts.html') Контакты
        +burger().page-header__burger
        .page-header__mobile-menu
          button.page-header__mobile-menu-close
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 20 20', width='15', height='15')
              path(d='M.0002867 19.3548L19.3548.00001164 20 .645173.645439 20l-.6451523-.6452z')
              path(d='M19.3546 20L0 .645161.645152 0 19.9997 19.3548 19.3546 20z')
          ul.page-header__mobile-menu-list
            li
              a(href='/') Услуги
            li
              a(href='/') Товары
            li
              a(href='/') Цены
            li
              a(href='/') О компании
            li
              a(href='/') Работы по гидроизоляции
            li
              a(href='/') Реставрация объектов культурного наследия
            li
              a(href='/') Документы
            li
              a(href='/') Контакты
