.page-header {
  position: relative;
  z-index: 100;
  background-color: $bg-color;
  color: $text-color;

  &__container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  &__logo {
    margin-right: auto;
    padding-left: 1rem;
    color: currentColor;
    text-decoration: none;
    font-weight: 500;
    font-size: ms(0);
    line-height: 1.2em;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary-color;
    }

    @include media-min-sm {
      padding-left: 1.5rem;
    }
  }

  &__contact {
    display: block;
    margin-right: 1.5rem;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    text-decoration: none;
    color: currentColor;
    transition: 125ms $transition-timing;

    &:hover,
    &:focus {
      color: $primary-color;
    }

    @include media-max-xs {
      display: none;
    }
  }

  &__get-a-call {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    padding: 0.75rem 1.5rem;
    transition: 125ms $transition-timing;
    background-color: $primary-color;
    color: $text-color--light;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    font-family: $font-family;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      transition: transform 500ms $transition-timing;
      background-color: darken($primary-color, 10%);
      transform-origin: right center;
    }

    span {
      position: relative;
      z-index: 2;
    }

    &:hover,
    &:focus {

      &::before {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }

    @include media-max-sm {
      padding: 0.5rem 1rem;
    }
  }

  &__nav {
    display: flex;
    position: relative;
    z-index: 1;
    padding: 0.75rem 1rem;

    &::before,
    &::after {
      content: '';
      position: absolute;
      right: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.125;
    }

    &::before {
      top: 100%;
    }

    &::after {
      bottom: 100%;
    }

    @include media-min-sm {
      padding: 1rem 1.5rem;
    }
  }

  &__nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: 1100px) {
      justify-content: space-between;
      width: 100%;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-2);
      line-height: 1.45em;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 0.1em;

      a {
        display: block;
        position: relative;
        transition: 125ms $transition-timing;
        color: currentColor;
        text-decoration: none;

        &::before {
          content: '';
          position: absolute;
          top: -0.5rem;
          right: -0.5rem;
          bottom: -0.5rem;
          left: -0.5rem;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: $primary-color;
        }
      }

      @media (max-width: 1099px) {

        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }

      &:nth-child(3) {
        display: none;

        @media (min-width: 375px) {
          display: block;
        }
      }

      &:nth-child(4) {
        display: none;

        @media (min-width: 440px) {
          display: block;
        }
      }

      &:nth-child(5) {
        display: none;

        @media (min-width: 650px) {
          display: block;
        }
      }

      &:nth-child(6) {
        display: none;

        @media (min-width: 1000px) {
          display: block;
        }
      }

      &:nth-child(7) {
        display: none;

        @media (min-width: 1100px) {
          display: block;
        }
      }

      &:nth-child(8) {
        display: none;

        @media (min-width: 1100px) {
          display: block;
        }
      }
    }
  }

  &__burger {

    @media (min-width: 1100px) {
      display: none;
    }
  }

  &__mobile-menu {
    position: absolute;
    z-index: 1000;
    top: 0.25rem;
    right: 0.25rem;
    max-width: 12.5rem;
    padding: 3rem 0.75rem 1rem;
    transform: scale(0.95);
    transition: 250ms ease-out;
    background-color: #fff;
    box-shadow:
      0 30px 60px -12px rgba($text-color, 0.15),
      0 18px 36px -18px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    opacity: 0;
    transform-origin: 100% 0;
    text-align: right;

    @include media-min-sm {
      top: 0.5rem;
      right: 0.5rem;
      padding: 3.75rem 1rem 1.5rem;
    }

    &--is-open {
      transform: scale(1);
      opacity: 1;
      pointer-events: auto;
    }
  }

  &__mobile-menu-close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    margin: 0;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;

    &::before {
      content: '';
      position: absolute;
      top: -1rem;
      right: -1rem;
      bottom: -1rem;
      left: -1rem;
    }

    svg {
      display: block;
    }

    @include media-min-sm {
      top: 1rem;
      right: 1rem;
    }
  }

  &__mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 15rem;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.45em;
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: block;
        color: $text-color;
        text-decoration: none;

        &:hover,
        &:focus {
          transition: 125ms $transition-timing;
          text-decoration: none;
          color: $primary-color;
        }
      }
    }
  }

  &--dark {
    background-color: $bg-color--dark;
    color: $text-color--light;
  }

  &--on-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
  }
}
