.client-card {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
  background-color: $bg-color;

  @include media-min-sm {
    padding: 1.5rem;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7.5rem;
  }

  &__caption {
    position: relative;
    padding: 1.5rem 0 0.75rem;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $text-color;
      opacity: 0.25;
    }
  }

  &__client-name {
    display: block;
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 0.25rem;
    font-weight: 500;
  }

  &__client-desc {
    display: block;
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 0.25rem;
    opacity: 0.5;
  }
}
