mixin client-card(props, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' client-card--' + modsList[i].trim();
      }
    }

  figure.client-card(class=allMods)&attributes(attributes)
    .client-card__icon
      img(src=props.icon, alt='', width=props.iconWidth, height=props.iconHeight)
    figcaption.client-card__caption
      span.client-card__client-name!= props.name
      span.client-card__client-desc Some words
