.price {
  padding: 2.25rem 1rem;

  @include media-min-sm {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;

    @include media-min-md {
      margin-bottom: 1.5rem;
    }
  }

  &__list-header {
    display: none;
    border-bottom: 1px solid rgba($text-color, 0.25);
    padding: 1rem 0;

    @include media-min-md {
      display: grid;
      gap: 20px;
      grid-template: 'header-num header-title header-unit-of-measure header-cost header-packing' / 1fr 6fr 1fr 2fr 2fr;
    }
  }

  &__list-header-item {
    font-size: ms(-2);
    line-height: 1.45em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;

    &--num {
      grid-area: header-num;
      text-align: left;
    }

    &--title {
      grid-area: header-title;
      text-align: left;
    }

    &--unit-of-measure {
      grid-area: header-unit-of-measure;
    }

    &--cost {
      grid-area: header-cost;
    }

    &--packing {
      grid-area: header-packing;
    }
  }

  &__list {
    counter-reset: list;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid rgba($text-color, 0.25);
    padding: 1.25rem 1rem;
    text-align: center;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    @include media-min-md {
      display: grid;
      grid-template: '. item-title unit-of-measure cost packing' / 1fr 6fr 1fr 2fr 2fr;
      border: none;
      padding: 1rem 0;
      gap: 20px;
      border-bottom: 1px solid rgba($text-color, 0.25);

      &:not(:last-child) {
        margin-bottom: 0;
      }

      &::before {
        content: counter(list, decimal-leading-zero);
        position: absolute;
        counter-increment: list;
        font-size: ms(-1);
        line-height: 1.45em;
        font-weight: 400;
      }
    }
  }

  &__item-title {
    font-size: ms(-1);
    font-weight: 400;
    line-height: 1.45em;
    padding-bottom: 0.75rem;
    margin-bottom: 0.75rem;
    border-bottom: 1px solid rgba($text-color, 0.25);
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;

    @include media-min-md {
      grid-area: item-title;
      margin: 0;
      border: none;
      padding: 0;
      text-align: left;
    }
  }

  &__item-data {
    flex: 1 0 0%;
    width: 100%;
    max-width: 100%;

    &--unit-of-measure {
      grid-area: unit-of-measure;
    }

    &--cost {
      grid-area: cost;
    }

    &--packing {
      grid-area: packing;
    }
  }

  &__item-data-term {
    font-size: ms(-2);
    line-height: 1.45em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.25rem;

    @include media-min-md {
      display: none;
    }
  }

  &__item-data-desc {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 400;
  }
}
