.seo {
  padding: 2.25rem 1rem;
  background-color: $bg-color;

  @include media-min-sm {
    padding: 4.5rem 1.5rem 6rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5em;
  }
}
