include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/btn/btn.pug
include ../blocks/burger/burger.pug
include ../blocks/client-card/client-card.pug
include ../blocks/get-a-call-modal/get-a-call-modal.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/product-card/product-card.pug
include ../blocks/products/products.pug
include ../blocks/seo/seo.pug
include ../blocks/service-card/service-card.pug
include ../blocks/slider-navigation/slider-navigation.pug
include ../blocks/slider-pagination/slider-pagination.pug
include ../blocks/slider-progressbar/slider-progressbar.pug
include ../blocks/still-have-questions/still-have-questions.pug
