.info {
  padding: 2.25rem 1rem;

  @include media-min-sm {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

    @include media-min-md {
      display: grid;
      gap: 20px;
      grid-template: 'content . cover' / 7fr 1fr 4fr;
    }
  }

  &__content {

    @include media-min-md {
      align-self: center;
      grid-area: content;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.75rem;
    max-width: 30rem;
    color: currentColor;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5em;
  }

  &__cover {
    display: none;
    position: relative;
    height: 100%;
    overflow: hidden;

    @include media-min-md {
      display: block;
      grid-area: cover;

      &::before {
        content: '';
        display: block;
        width: 100%;
        padding-bottom: (4 / 3) * 100%;
      }
    }
  }

  &__cover-wrap {
    position: absolute;
    top: -12.5%;
    left: 0;
    width: 100%;
    height: 125%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
