mixin still-have-questions()

  article.still-have-questions
    .still-have-questions__content
      .still-have-questions__container
        span.still-have-questions__subtitle Остались вопросы?
        h2.still-have-questions__title Заполните форму и получите консультацию нашего специалиста
        form.form.still-have-questions__form
          label.form__label.still-have-questions__form-name
            span.form__input-title Имя
            span.form__input-wrap
              input.form__input(type='text', placeholder='')
          label.form__label.still-have-questions__form-phone
            span.form__input-title Телефон
            span.form__input-wrap
              input.form__input(type='text', placeholder='+7 (921) 129-95-91')
          .get-more-info__form-actions.still-have-questions__form-actions
            +btn('Заказать звонок', 'ghost')(type='submit')
    .still-have-questions__cover
      .still-have-questions__cover-wrap.rellax(data-rellax-speed='-1.5', data-rellax-percentage='0.5')
        img(src='https://images.unsplash.com/photo-1542621323-be453184db76?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80', alt='')