.still-have-questions {
  position: relative;
  padding: 2.25rem 1rem;
  background-color: $bg-color--dark;
  color: $text-color--light;

  @include media-min-sm {
    padding: 4.5rem 1.5rem;
  }

  &__content {
    position: relative;
    z-index: 2;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__subtitle {
    display: block;
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 0.75rem;
    font-weight: 500;
    color: $accent-color;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2.25rem;
    max-width: 30rem;
    color: currentColor;
  }

  &__form {

    @include media-min-sm {
      display: grid;
      gap: 20px;
      grid-template:
        'form-name form-phone .'
        'form-actions form-actions form-actions' / 4fr 5fr 3fr;
    }
  }

  &__form-name {
    grid-area: form-name;
  }

  &__form-phone {
    grid-area: form-phone;
  }

  &__form-actions {
    grid-area: form-actions;
    margin-top: 0;
  }

  &__cover {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__cover-wrap {
    position: absolute;
    top: -12.5%;
    left: 0;
    width: 100%;
    height: 125%;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background:
        linear-gradient(to left bottom, hsla(222, 17, 15, 0.5) 0%, hsla(222, 17, 15, 0.75) 100%,);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
