.docs {
  padding: 2.25rem 1rem;
  overflow: hidden;

  @include media-min-sm {
    padding: 4.5rem 1.5rem 6rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;

    @include media-min-md {
      margin-bottom: 2.25rem;
    }
  }

  &__block {

    &:not(:last-child) {
      margin-bottom: 2.25rem;
    }

    @include media-min-md {
      padding-top: 2.25rem;
      border-top: 1px solid rgba($text-color, 0.125);
      display: grid;
      gap: 20px;
      grid-template: 'block-title block-slider' / 3fr 9fr;

      &:not(:last-child) {
        margin-bottom: 4.5rem;
      }
    }
  }

  &__block-title {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;

    @include media-min-md {
      grid-area: block-title;
    }
  }

  &__slider {

    @include media-min-md {
      grid-area: block-slider;
    }
  }

  &__item {
    position: relative;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__slider-wrapper {

    @include media-min-md {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &__slider-progressbar {
    margin-bottom: 1rem;

    @include media-min-md {
      display: none;
      grid-area: block-progressbar;
    }
  }
}
