extends ../pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block header
  +page-header('dark')

block content
  section.contacts
    .contacts__container
      .contacts__content
        h1.contacts__title Контакты
        .contacts__intro
          p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
        .contacts__info
          .contacts__info-group
            h3.contacts__info-group-subtitle Адрес
            address.contacts__address Москва, Петровка, 13
          .contacts__info-group
            h3.contacts__info-group-subtitle Связаться
            ul.contacts__list
              li
                a(href='tel:+79859052136') +7 (985) 905-21-36
              li
                a(href='mailto:info@remmar.ru') info@remmar.ru
      .contacts__cover
        .contacts__cover-wrap.rellax(data-rellax-speed='-1', data-rellax-percentage='0.5')
          img(src='https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80', alt='')

  .map
    .map__container
      .map__placeholder
        img(src='img/map-placeholder.jpg', alt='')

block footer
  +page-footer('light')