extends ../pug/layout.pug

block meta
  - var title = 'Docs';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  .docs
    .docs__container
      h1.docs__title Документы
      section.docs__block
        +slider-progressbar().docs__slider-progressbar
        h2.docs__block-title Название категории
        .docs__slider
          .swiper-wrapper.docs__slider-wrapper
            .swiper-slide
              .docs__item
                img(src='img/doc-example.png', alt='')
            .swiper-slide
              .docs__item
                img(src='img/doc-example.png', alt='')
            .swiper-slide
              .docs__item
                img(src='img/doc-example.png', alt='')
            .swiper-slide
              .docs__item
                img(src='img/doc-example.png', alt='')
            .swiper-slide
              .docs__item
                img(src='img/doc-example.png', alt='')