extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block header
  +page-header('dark')

block content
  .promo
    .promo__container
      .promo__slider
        .swiper-wrapper
          .swiper-slide
            .promo__slide
              .promo__slide-info
                span.promo__slide-label Январь, 2021
                h2.promo__slide-title Zombie ipsum reversus ab viral inferno
                .promo__slide-desc
                  p Finis accedens walking deadsentio terrore perterritus et twen tee ate daze leighter taedium wal kingdead. The horror, monstra epidemic significant finem. Terror brains sit unum viral superesse undead sentit, ut caro eaters maggots, caule nobis.
                a.promo__slide-more-info(href='/') Узнать подробнее
              .promo__slide-image
                img(src='https://images.unsplash.com/photo-1602849268579-5656d6d58050?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2734&q=80', alt='')
          .swiper-slide
            .promo__slide
              .promo__slide-info
                span.promo__slide-label Октябрь, 2020
                h2.promo__slide-title De carne lumbering animata corpora quaeritis
                .promo__slide-desc
                  p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
                a.promo__slide-more-info(href='/') Узнать подробнее
              .promo__slide-image
                img(src='https://images.unsplash.com/photo-1548041469-5482bd3e8600?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2800&q=80', alt='')
          .swiper-slide
            .promo__slide
              .promo__slide-info
                span.promo__slide-label Июль, 2020
                h2.promo__slide-title Qui animated corpse, cricket bat max brucks
                .promo__slide-desc
                  p Indeflexus shotgun coup de poudre monstra per plateas currere. Fit de decay nostra carne undead. Poenitentiam violent zom biehig hway agite RE:dead pœnitentiam! Vivens mortua sunt apud nos night of the living dead.
                a.promo__slide-more-info(href='/') Узнать подробнее
              .promo__slide-image
                img(src='https://images.unsplash.com/photo-1491956398797-69cc68e54362?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2734&q=80', alt='')
      +slider-pagination().promo__slider-pagination
      +slider-navigation().promo__slider-navigation

  .advantages
    .advantages__container
      .advantages__slider
        .swiper-wrapper
          .swiper-slide.advantages__slide
            figure.advantages__item
              .advantages__item-icon
                img(src='img/advantage-experience.svg', alt='', width='52', height='52')
              figcaption.advantages__item-caption
                | Занимаемся
                br
                | гидроизоляцией 15 лет
          .swiper-slide.advantages__slide
            figure.advantages__item.advantages__item--flexibility
              .advantages__item-icon
                img(src='img/advantage-flexibility.svg', alt='', width='52', height='44')
              figcaption.advantages__item-caption
                | Выполняем работы
                br
                | на выезд
          .swiper-slide.advantages__slide
            figure.advantages__item
              .advantages__item-icon
                img(src='img/advantage-services.svg', alt='', width='52', height='50')
              figcaption.advantages__item-caption
                | Оказываем услуги организациям и частным лицам
          .swiper-slide.advantages__slide
            figure.advantages__item
              .advantages__item-icon
                img(src='img/advantage-status.svg', alt='', width='50', height='44')
              figcaption.advantages__item-caption
                | Членство в СРО
      +slider-pagination().advantages__slider-pagination

  article.services
    .services__container
      +slider-progressbar().services__slider-progressbar
      h2.services__title Наши услуги
      +slider-navigation().services__slider-navigation
      .services__slider
        .swiper-wrapper
          .swiper-slide
            +service-card({
              title: 'Гидроизоляция тоннелей',
              image: 'https://images.unsplash.com/photo-1601942881328-84d2f9c1ac16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2900&q=80'
            })
          .swiper-slide
            +service-card({
              title: 'Гидроизоляция шахты',
              image: 'https://images.unsplash.com/photo-1482731215275-a1f151646268?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
            })
          .swiper-slide
            +service-card({
              title: 'Гидроизоляция фундамента',
              image: 'https://images.unsplash.com/photo-1610164989165-0c4701bc4ce2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1352&q=80'
            })
          .swiper-slide
            +service-card({
              title: 'Гидроизоляция подвалов',
              image: 'https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=802&q=80'
            })
          .swiper-slide
            +service-card({
              title: 'Гидроизоляция тоннелей',
              image: 'https://images.unsplash.com/photo-1601942881328-84d2f9c1ac16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2900&q=80'
            })
          .swiper-slide
            +service-card({
              title: 'Гидроизоляция шахты',
              image: 'https://images.unsplash.com/photo-1482731215275-a1f151646268?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
            })
          .swiper-slide
            +service-card({
              title: 'Гидроизоляция фундамента',
              image: 'https://images.unsplash.com/photo-1610164989165-0c4701bc4ce2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1352&q=80'
            })
          .swiper-slide
            +service-card({
              title: 'Гидроизоляция подвалов',
              image: 'https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=802&q=80'
            })
      a.services__more-services(href='/')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 4', width='22', height='4')
          circle(cx='2', cy='2', r='2')
          circle(cx='11', cy='2', r='2')
          circle(cx='20', cy='2', r='2')
        span Все услуги

  +products('Наши товары')

  section.get-more-info
    .get-more-info__container
      .get-more-info__cover
        .get-more-info__cover-wrap
          img(src='https://images.unsplash.com/photo-1601942881328-84d2f9c1ac16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2900&q=80', alt='')
      .get-more-info__content
        span.get-more-info__subtitle Каждый объект индивидуален,
        h2.get-more-info__title Поэтому более подробную информацию вы сможете узнать, заказав обратный звонок нашего специалиста
        form.form
          label.form__label
            span.form__input-title Имя
            span.form__input-wrap
              input.form__input(type='text', placeholder='')
          label.form__label
            span.form__input-title Телефон
            span.form__input-wrap
              input.form__input(type='text', placeholder='+7 (921) 129-95-91')
          .get-more-info__form-actions
            +btn('Заказать звонок', 'ghost')(type='submit')

  section.clients
    .clients__container
      h2.clients__title Заказчики
      .clients__slider
        .swiper-wrapper
          .clients__slide.swiper-slide
            +client-card({
              name: 'Группа компаний ПИК',
              icon: 'img/pik.svg',
              iconWidth: '104',
              iconHeight: '32'
            })
          .clients__slide.swiper-slide
            +client-card({
              name: 'Стройтрансгаз',
              icon: 'img/stg.svg',
              iconWidth: '56',
              iconHeight: '56'
            })
          .clients__slide.swiper-slide
            +client-card({
              name: 'Группа компаний ПИК',
              icon: 'img/pik.svg',
              iconWidth: '104',
              iconHeight: '32'
            })
          .clients__slide.swiper-slide
            +client-card({
              name: 'Стройтрансгаз',
              icon: 'img/stg.svg',
              iconWidth: '56',
              iconHeight: '56'
            })
      +slider-pagination().clients__slider-pagination

  +seo