extends ../pug/layout.pug

block meta
  - var title = 'Price';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.price
    .price__container
      h1.price__title Прайс-лист
      .price__list-header
        .price__list-header-item.price__list-header-item--num #
        .price__list-header-item.price__list-header-item--title Наименование
        .price__list-header-item.price__list-header-item--unit-of-measure Ед. изм.
        .price__list-header-item.price__list-header-item--cost Цена, ₽/кг
        .price__list-header-item.price__list-header-item--packing Фасовка
      .price__list

        mixin price-item(props)
          .price__item
            .price__item-title!= props.title
            .price__item-data.price__item-data--unit-of-measure
              .price__item-data-term Ед. изм.
              .price__item-data-desc —
            .price__item-data.price__item-data--cost
              .price__item-data-term Цена, ₽/кг
              .price__item-data-desc 19 000
            .price__item-data.price__item-data--packing
              .price__item-data-term Фасовка
              .price__item-data-desc —

        +price-item({
          title: 'Zombie ipsum reversus ab viral inferno'
        })
        +price-item({
          title: 'De carne lumbering animata corpora quaeritis'
        })
        +price-item({
          title: 'Summus brains sit​​, morbo vel maleficia'
        })

  +still-have-questions
  +seo