extends ../pug/layout.pug

block meta
  - var title = 'Product';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  .product
    .product__container
      .product__media
        img(src='img/product-example-1.jpg', alt='')
      .product__info
        +breadcrumbs().product__breadcrumbs
          +breadcrumbs-item('Главная', '/')
          +breadcrumbs-item('Товары', '/')
          +breadcrumbs-item('Товар')
        h1.product__title Товар
        span.product__price ₽ 1 999
        .product__desc
          p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
        +btn('Заказать')(href='#get-a-call-modal', data-fancybox='')

  +products('Другие товары')