extends ../pug/layout.pug

block meta
  - var title = 'Products';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.product-list
    .product-list__container
      h1.product-list__title Товары
      ul.product-list__list
        li.product-list__item
          +product-card({
            image: 'img/product-example-1.jpg'
          })
        li.product-list__item
          +product-card({
            image: 'img/product-example-2.jpg'
          })
        li.product-list__item
          +product-card({
            image: 'img/product-example-3.jpg'
          })
        li.product-list__item
          +product-card({
            image: 'img/product-example-4.jpg'
          })
        li.product-list__item
          +product-card({
            image: 'img/product-example-5.jpg'
          })
        li.product-list__item
          +product-card({
            image: 'img/product-example-1.jpg'
          })
        li.product-list__item
          +product-card({
            image: 'img/product-example-2.jpg'
          })

  +still-have-questions
  +seo