extends ../pug/layout.pug

block meta
  - var title = 'Projects';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  .projects
    .projects__container
      h1.projects__title Работы по гидроизоляции
      section.projects__block
        .projects__block-intro
          h2.projects__block-title Гидроизоляция
        ul.projects__block-list
          li.projects__block-item
            figure.projects__project
              a.projects__project-media(href='/')
                img(src='https://images.unsplash.com/photo-1526930996016-cccb82eed8eb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80', alt='')
              figcaption.projects__project-caption Название работы
          li.projects__block-item
            figure.projects__project
              a.projects__project-media(href='/')
                img(src='https://images.unsplash.com/photo-1576031193360-e52bf92ba841?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=668&q=80', alt='')
              figcaption.projects__project-caption Название работы
          li.projects__block-item
            figure.projects__project
              a.projects__project-media(href='/')
                img(src='https://images.unsplash.com/photo-1508197149814-0cc02e8b7f74?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2744&q=80', alt='')
              figcaption.projects__project-caption Название работы
      section.projects__block
        .projects__block-intro
          h2.projects__block-title Гидроизоляция
        ul.projects__block-list
          li.projects__block-item
            figure.projects__project
              a.projects__project-media(href='/')
                img(src='https://images.unsplash.com/photo-1493575148873-af00581a1196?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2089&q=80', alt='')
              figcaption.projects__project-caption Название работы
          li.projects__block-item
            figure.projects__project
              a.projects__project-media(href='/')
                img(src='https://images.unsplash.com/photo-1548891245-66943d689749?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80', alt='')
              figcaption.projects__project-caption Название работы