extends ../pug/layout.pug

block meta
  - var title = 'Project';
  title= title
  meta(name='description', content='')

block header
  +page-header('dark, on-cover')

block content
  section.service
    .service__content
      .service__container
        h1.service__title Qui animated corpse, cricket bat max brucks terribilem incessu zomby
        dl.service__data-list
          .service__data-group
            dt.service__data-term Сроки
            dd.service__data-desc 19 мес.
          .service__data-group
            dt.service__data-term Площадь
            dd.service__data-desc 1 300 м2
          .service__data-group
            dt.service__data-term Дата
            dd.service__data-desc 2021
        +slider-pagination().service__slider-pagination
        +slider-navigation().service__slider-navigation
    .service__slider
      .swiper-wrapper
        .swiper-slide
          .service__slide
            .service__slide-cover
              img(src='https://images.unsplash.com/photo-1598517834810-65ce635f3d4d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2855&q=80', alt='')
        .swiper-slide
          .service__slide
            .service__slide-cover
              img(src='https://images.unsplash.com/photo-1469964062538-06fad433a132?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2849&q=80', alt='')
        .swiper-slide
          .service__slide
            .service__slide-cover
              img(src='https://images.unsplash.com/photo-1554282172-e44638f292f3?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=2850&q=80', alt='')

  section.info
    .info__container
      .info__content
        h2.info__title The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi eorum defunctis go lum cerebro.
        .info__text
          p Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus.
          p Zonbi tattered for solum oculi eorum defunctis go lum cerebro. Nescio brains an Undead zombies. Sicut malus putrid voodoo horror. Nigh tofth eliv ingdead.
      .info__cover
        .info__cover-wrap.rellax(data-rellax-speed='-1.5', data-rellax-percentage='0.5')
          img(src='https://images.unsplash.com/photo-1558227691-41ea78d1f631?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80', alt='')

  +still-have-questions
  +seo