extends ../pug/layout.pug

block meta
  - var title = 'Service List';
  title= title
  meta(name='description', content='')

block header
  +page-header()

block content
  section.service-list
    .service-list__container
      h1.service-list__title Услуги
      ul.service-list__list
        li.service-list__item
          +service-card({
            title: 'Гидроизоляция тоннелей',
            image: 'https://images.unsplash.com/photo-1601942881328-84d2f9c1ac16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2900&q=80'
          })
        li.service-list__item
          +service-card({
            title: 'Гидроизоляция шахты',
            image: 'https://images.unsplash.com/photo-1482731215275-a1f151646268?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
          })
        li.service-list__item
          +service-card({
            title: 'Гидроизоляция фундамента',
            image: 'https://images.unsplash.com/photo-1610164989165-0c4701bc4ce2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1352&q=80'
          })
        li.service-list__item
          +service-card({
            title: 'Гидроизоляция подвалов',
            image: 'https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=802&q=80'
          })
        li.service-list__item
          +service-card({
            title: 'Гидроизоляция тоннелей',
            image: 'https://images.unsplash.com/photo-1601942881328-84d2f9c1ac16?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2900&q=80'
          })
        li.service-list__item
          +service-card({
            title: 'Гидроизоляция шахты',
            image: 'https://images.unsplash.com/photo-1482731215275-a1f151646268?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80'
          })
        li.service-list__item
          +service-card({
            title: 'Гидроизоляция фундамента',
            image: 'https://images.unsplash.com/photo-1610164989165-0c4701bc4ce2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1352&q=80'
          })
        li.service-list__item
          +service-card({
            title: 'Гидроизоляция подвалов',
            image: 'https://images.unsplash.com/photo-1564182842519-8a3b2af3e228?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=802&q=80'
          })

  +still-have-questions
  +seo