mixin product-card(props, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' product-card--' + modsList[i].trim();
      }
    }

  .product-card(class=allMods)&attributes(attributes)
    a.product-card__cover(href='/')
      img(src=props.image, alt='', width='320', height='375')
    h3.product-card__title Название товара
    span.product-card__price 2 490 ₽