.product-card {

  &__cover {
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.75rem;

    &:hover {

      img {
        transform: scale(1.05);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      transition: 500ms $transition-timing;
      object-fit: cover;
      transform-origin: center;
    }
  }

  &__title {
    margin: 0;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
  }

  &__price {
    display: block;
    font-size: ms(-1);
    line-height: 1.45em;
    opacity: 0.5;
  }
}
