mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__container
      .page-footer__top
        a.page-footer__logo(href='/') Реммар
        a.page-footer__get-a-call(href='#get-a-call-modal', data-fancybox='')
          span Заказать звонок
      .page-footer__middle
        .page-footer__middle-section.page-footer__middle-section--navigation
          h3.page-footer__subtitle Информация
          .page-footer__lists
            ul.page-footer__list
              li
                a(href='/') Услуги
              li
                a(href='/') Товары
              li
                a(href='/') Работы по гидроизоляции
              li
                a(href='/') Реставрация объектов культурного наследия
              li
                a(href='/') Цены
              li
                a(href='/') Документы
            ul.page-footer__list
              li
                a(href='/') О компании
              li
                a(href='/') Контакты
        .page-footer__middle-section.page-footer__middle-section--contacts
          h3.page-footer__subtitle Связаться
          ul.page-footer__list
            li
              a(href='tel:+79859052136') +7 (985) 905-21-36
            li
              a(href='mailto:info@remmar.ru') info@remmar.ru
        .page-footer__middle-section.page-footer__middle-section--location
          h3.page-footer__subtitle Адрес
          address.page-footer__address Москва, Петровка, 13
      .page-footer__bottom
        span.page-footer__copyright © 2021 — Реммар.