.page-footer {
  background-color: $bg-color--dark;
  color: $text-color--light;
  padding: 0 1rem;

  @include media-min-sm {
    padding: 0 1.5rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__top {
    display: flex;
    align-items: center;
    position: relative;
    padding: 1.5rem 0;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      opacity: 0.25;
    }
  }

  &__logo {
    margin-right: auto;
    color: currentColor;
    text-decoration: none;
    font-weight: 500;
    font-size: ms(0);
    line-height: 1.2em;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary-color;
    }
  }

  &__get-a-call {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid $primary-color;
    padding: 0.5rem 1rem;
    transition: 125ms $transition-timing;
    background-color: transparent;
    color: $text-color--light;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    font-family: $font-family;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: scaleX(0);
      transition: transform 500ms $transition-timing;
      background-color: $primary-color;
      transform-origin: right center;
    }

    span {
      position: relative;
      z-index: 2;
    }

    &:hover,
    &:focus {

      &::before {
        transform: scaleX(1);
        transform-origin: left center;
      }
    }
  }

  &__middle {
    padding: 1.5rem 0;

    @include media-min-sm {
      display: grid;
      gap: 20px;
      grid-template: 'navigation contacts location' / 6fr 3fr max-content;
    }

    @include media-min-md {
      padding: 2.25rem 0;
    }
  }

  &__middle-section {

    &--navigation {
      margin-bottom: 1.5rem;

      @include media-min-sm {
        grid-area: navigation;
        margin-bottom: 0;
      }
    }

    &--contacts {
      margin-bottom: 1.5rem;

      @include media-min-sm {
        grid-area: contacts;
        margin-bottom: 0;
      }
    }

    &--location {

      @include media-min-sm {
        grid-area: location;
      }
    }
  }

  &__subtitle {
    font-size: ms(-2);
    line-height: 1.45em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0.75rem;
    color: $accent-color;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__lists {

    @include media-min-xl {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto;
      grid-gap: 4.5rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.45em;
      font-weight: 400;
      margin-bottom: 0.25rem;

      a {
        display: inline-block;
        text-decoration: none;
        position: relative;
        color: currentColor;
        opacity: 0.75;

        &[href^='tel'],
        &[href^='mail'] {
          font-weight: 500;
          opacity: 1;
        }

        &::before {
          content: '';
          position: absolute;
          top: -0.125rem;
          right: -0.125rem;
          bottom: -0.125rem;
          left: -0.125rem;
        }

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: currentColor;
          height: 1px;
          transform: scaleX(0);
          transition: transform 0.25s $transition-timing;
          transform-origin: center right;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: center left;
          }
        }
      }
    }
  }

  &__address {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    margin: 0;
  }

  &__bottom {
    padding: 0 0 1.5rem;

    @include media-min-md {
      padding: 2.25rem 0;
    }
  }

  &__copyright {
    font-size: ms(-2);
    line-height: 1.45em;
    opacity: 0.5;
    display: block;
  }

  &--light {
    background-color: $bg-color;
    color: $text-color;

    .page-footer__subtitle {
      color: $primary-color;
    }
  }
}
