.service {
  position: relative;
  background-color: $bg-color--dark;
  color: $text-color--light;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 2;
    min-height: 660px;
    padding: 0 1rem;

    @include media-min-sm {
      min-height: 720px;
      padding: 0 1.5rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 6.25rem 0 4.5rem;

    @include media-min-sm {
      padding: 6.25rem 0 4.5rem;
    }

    @include media-min-md {
      padding: 6.25rem 0 7.5rem;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.01em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;
    max-width: 600px;

    @include media-min-lg {
      font-size: ms(2);
    }
  }

  &__data-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0;
  }

  &__data-group {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;

    @include media-min-md {
      margin-right: 3rem;
      margin-bottom: 0;
    }
  }

  &__data-term {
    display: inline-block;
    position: relative;
    margin: 0;
    font-size: 12px;
    line-height: 1.45em;
    color: rgba(#fff, 0.5);
    margin-bottom: 0.5rem;
    font-weight: 500;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: calc(100% + 0.75rem);
      width: 1.5rem;
      height: 1px;
      transform: translateY(-50%);
      background-color: $accent-color;
    }
  }

  &__data-desc {
    display: block;
    font-size: ms(1);
    line-height: 1.1em;
    letter-spacing: -0.01em;
    margin: 0;
    font-weight: 500;
  }

  &__slider {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__slide {
    width: 100%;
    height: 100%;
  }

  &__slide-cover {
    position: relative;
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: hsla(222, 17%, 15%, 0.5);
    }

    img {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition:
        transform 10s ease-out,
        opacity 250ms ease-out 125ms;
      object-fit: cover;
      opacity: 0;
    }

    @at-root .swiper-slide-active & {

      img {
        transform: scale(1.05);
        opacity: 1;
      }
    }
  }

  &__slider-pagination {
    position: absolute;
    z-index: 2;
    bottom: 1.8rem;
    left: 1rem;

    @include media-min-md {
      bottom: 2.8rem;
      left: 0;
    }
  }

  &__slider-navigation {
    position: absolute;
    z-index: 2;
    right: 0.75rem;
    bottom: 0.75rem;

    @include media-min-md {
      right: 0;
      bottom: 1.75rem;
    }
  }
}
