.contacts {
  background-color: $bg-color--dark;
  color: $text-color--light;
  padding: 4.5rem 1rem 10.5rem;

  @include media-min-sm {
    padding: 4.5rem 1.5rem 10.5rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

    @include media-min-sm {
      display: grid;
      gap: 20px;
      grid-template: 'content . cover' / 5fr 1fr 6fr;
    }
  }

  &__content {

    @include media-min-sm {
      align-self: center;
      grid-area: content;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include media-min-lg {
      font-size: ms(2);
      margin-left: -0.05em;
    }
  }

  &__intro {
    font-size: ms(-1);
    line-height: 1.45em;
    opacity: 0.75;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      margin-bottom: 2.25rem;
    }
  }

  &__info {

    @include media-min-sm {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  &__info-group {

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @include media-min-sm {
      flex: 1 0 0%;
      width: 100%;
      max-width: 100%;
      padding-right: 1.5rem;

      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  &__info-group-subtitle {
    font-size: ms(-2);
    line-height: 1.45em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: 0;
    margin-bottom: 0.75rem;
    color: $accent-color;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.45em;
      font-weight: 500;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        text-decoration: none;
        position: relative;
        color: currentColor;

        &::before {
          content: '';
          position: absolute;
          top: -0.125rem;
          right: -0.125rem;
          bottom: -0.125rem;
          left: -0.125rem;
        }

        &::after {
          content: '';
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: currentColor;
          height: 1px;
          transform: scaleX(0);
          transition: transform 0.25s $transition-timing;
          transform-origin: center right;
        }

        &:hover,
        &:focus {
          text-decoration: none;
          color: currentColor;

          &::after {
            transform: scaleX(1);
            transform-origin: center left;
          }
        }
      }
    }
  }

  &__address {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
  }

  &__cover {
    display: none;
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    @include media-min-sm {
      display: block;
      grid-area: cover;
    }
  }

  &__cover-wrap {
    position: absolute;
    top: -12.5%;
    left: 0;
    width: 100%;
    height: 125%;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: hsla(222, 17%, 15%, 0.5);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
