mixin service-card(props, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' service-card--' + modsList[i].trim();
      }
    }

  a.service-card(href='/', class=allMods)&attributes(attributes)
    h3.service-card__title!= props.title
    .service-card__icon
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 50 50', width='50', height='50')
        path(fill='#fff', fill-rule='evenodd', d='M27.9887 20L33 25l-5.0113 5-1.0567-1.0543 3.2075-3.2002H17v-1.491h13.1395l-3.2075-3.2002L27.9887 20z', clip-rule='evenodd')
        circle(cx='25', cy='25', r='24.5', stroke='#fff', fill='transparent', opacity='0.25')
    .service-card__cover
      img(src=props.image, alt='')