.service-card {
  display: block;
  background-color: $bg-color--dark;
  color: $text-color--light;
  position: relative;

  &:hover,
  &:focus {

    .service-card__cover {

      &::after {
        background-color: hsla(222, 17%, 15%, 0.25);
      }

      img {
        transform: scale(1.05);
      }
    }

    .service-card__icon {

      svg {

        circle {
          stroke-dashoffset: 0;
        }
      }
    }
  }

  &__title {
    position: absolute;
    z-index: 2;
    bottom: 1rem;
    left: 1rem;
    width: calc(100% - 2rem);
    max-width: 7.5rem;
    margin: 0;
    font-size: ms(0);
    font-weight: 500;
    line-height: 1.3em;
    letter-spacing: -0.01em;

    @include media-min-sm {
      bottom: 1.5rem;
      left: 1.5rem;
      width: calc(100% - 3rem);
    }
  }

  &__icon {
    position: absolute;
    z-index: 2;
    right: 1rem;
    bottom: 0.5rem;

    svg {

      circle {
        transform: rotate(-90deg);
        transition: 500ms $transition-timing;
        transform-origin: center center;
        stroke: $accent-color;
        opacity: 1;
        stroke-dasharray: 2 * 3.14 * 24.5;
        stroke-dashoffset: 2 * 3.14 * 24.5;

        @include media-max-sm {
          stroke-dashoffset: 0;
        }
      }
    }

    @include media-min-sm {
      right: 1.5rem;
      bottom: 1rem;
    }
  }

  &__cover {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 390px;

      @media (min-width: $screen-xs) {
        padding-bottom: (4 / 3) * 100%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: hsla(222, 17%, 15%, 0.5);
      transition: 500ms $transition-timing;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 500ms $transition-timing;
    }
  }
}
