.map {
  padding: 0 1rem 2.25rem;
  margin-bottom: -6rem;

  @include media-min-sm {
    padding: 0 1.5rem 4.5rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    transform: translateY(-6rem);
  }

  &__placeholder {
    height: 450px;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
