.advantages {
  padding: 2.25rem 1rem;
  background-color: $bg-color--shade;
  overflow: hidden;

  @include media-min-sm {
    padding: 2.25rem 1.5rem;
  }

  @include media-min-md {
    padding: 0 1.5rem;
    overflow: visible;
    margin-bottom: -6rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

    @include media-min-md {
      transform: translateY(-6rem);
    }
  }

  &__slider {
    padding: 0 1rem;

    @include media-min-sm {
      padding: 0;
    }
  }

  &__slide {
    height: auto;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 2.25rem 1rem;
    background-color: $bg-color;

    @include media-min-sm {
      padding: 2.25rem 1.5rem;
    }

    &--flexibility {

      .advantages__item-icon {
        justify-content: flex-start;
      }
    }
  }

  &__item-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
  }

  &__item-caption {
    font-size: 16px;
    line-height: 1.3em;
    font-weight: 500;
    position: relative;
    text-align: center;
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      top: -1rem;
      left: 50%;
      width: 2.25rem;
      height: 1px;
      transform: translateX(-50%);
      background-color: $accent-color;
    }
  }

  &__slider-pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    @include media-min-md {
      display: none;
    }
  }
}
