mixin products(title, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' products--' + modsList[i].trim();
      }
    }

  article.products(class=allMods)&attributes(attributes)
    .products__container
      +slider-progressbar().products__slider-progressbar
      h2.products__title!= title
      +slider-navigation().products__slider-navigation
      .products__slider
        .swiper-wrapper
          .swiper-slide
            +product-card({
              image: 'img/product-example-1.jpg'
            })
          .swiper-slide
            +product-card({
              image: 'img/product-example-2.jpg'
            })
          .swiper-slide
            +product-card({
              image: 'img/product-example-3.jpg'
            })
          .swiper-slide
            +product-card({
              image: 'img/product-example-4.jpg'
            })
          .swiper-slide
            +product-card({
              image: 'img/product-example-5.jpg'
            })
      a.products__more-services(href='/')
        svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 22 4', width='22', height='4')
          circle(cx='2', cy='2', r='2')
          circle(cx='11', cy='2', r='2')
          circle(cx='20', cy='2', r='2')
        span Все товары