.products {
  padding: 2.25rem 1rem;
  overflow: hidden;
  background-color: $bg-color;

  @include media-min-sm {
    padding: 4.5rem 1.5rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

    @include media-min-md {
      display: grid;
      grid-template:
        'slider-progessbar slider-progessbar slider-progessbar'
        'title more-services slider-navigation'
        'slider slider slider' / 1fr auto auto;
      gap: 20px;
    }
  }

  &__title {
    grid-area: title;
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;

    @include media-min-md {
      margin: 0;
    }
  }

  &__slider {
    grid-area: slider;
    width: 100%;
    padding: 0 1rem;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      padding: 0;
    }
  }

  &__slider-progressbar {
    grid-area: slider-progessbar;
    margin-bottom: 1.5rem;
  }

  &__slider-navigation {
    display: none;
    grid-area: slider-navigation;

    @include media-min-md {
      display: block;
    }
  }

  &__more-services {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    grid-area: more-services;
    text-decoration: none;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    color: $text-color;

    &:hover {

      svg {

        circle {

          &:nth-child(1) {
            transform: translateX(28px);
            transition-delay: 100ms;
          }

          &:nth-child(2) {
            transform: translateX(19px);
            transition-delay: 75ms;
          }

          &:nth-child(3) {
            transform: translateX(10px);
            transition-delay: 50ms;
          }
        }
      }
    }

    @include media-max-sm {
      width: 100%;
    }

    @include media-max-md {
      padding: 0.75rem 1.5rem;
      background-color: $accent-color;
      color: $text-color;
    }

    svg {
      display: block;
      overflow: visible;
      fill: currentColor;
      margin-right: 1rem;

      circle {
        transition: 375ms $transition-timing;
      }
    }
  }
}
