.projects {
  padding: 2.25rem 1rem;
  overflow: hidden;

  @include media-min-sm {
    padding: 4.5rem 1.5rem 6rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2.25rem;
  }

  &__block {
    padding-top: 2.25rem;
    border-top: 1px solid rgba($text-color, 0.125);

    &:not(:last-child) {
      margin-bottom: 2.25rem;
    }

    @include media-min-xs {
      display: grid;
      gap: 20px;
      grid-template: 'intro list' / 3fr 9fr;

      &:not(:last-child) {
        margin-bottom: 4.5rem;
      }
    }
  }

  &__block-intro {

    @media (min-width: $screen-xs) {
      grid-area: intro;
    }
  }

  &__block-title {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;

    @include media-min-md {
      grid-area: block-title;
    }
  }

  &__block-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @media (min-width: $screen-sm) {
      display: grid;
      grid-area: list;
      gap: 1.5rem 20px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto;
    }
  }

  &__block-item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 1.5rem;

      @media (min-width: $screen-sm) {
        margin-bottom: 0;
      }
    }
  }

  &__project {
    margin: 0;
    padding: 0;
  }

  &__project-media {
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;
    color: currentColor;
    margin-bottom: 0.75rem;

    &:hover {

      img {
        transform: scale(1.05);
      }
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: (9 / 16) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 500ms $transition-timing;
      object-fit: cover;
    }
  }

  &__project-caption {
    font-size: ms(0);
    line-height: 1.45em;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
}
