.burger {
  display: inline-flex;
  align-items: center;
  position: relative;
  border: none;
  padding: 0;
  background-color: transparent;
  color: currentColor;
  font-family: $font-family;
  font-size: inherit;
  margin-left: auto;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    bottom: -0.25rem;
    left: -0.25rem;
  }

  &__caption {
    font-size: ms(-2);
    line-height: 1.45em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-right: 0.5rem;
  }

  &__icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    span {
      display: block;
      height: 1px;
      background-color: currentColor;

      &:nth-child(1) {
        width: 20px;
      }

      &:nth-child(2) {
        width: 30px;
        margin: 5px 0;
      }

      &:nth-child(3) {
        width: 25px;
      }
    }
  }
}
