@font-face {
  font-family: 'Cera Pro';
  src:
    url('../fonts/cera-pro-regular.woff2') format('woff2'),
    url('../fonts/cera-pro-regular.woff') format('woff'),
    url('../fonts/cera-pro-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src:
    url('../fonts/cera-pro-medium.woff2') format('woff2'),
    url('../fonts/cera-pro-medium.woff') format('woff'),
    url('../fonts/cera-pro-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src:
    url('../fonts/cera-pro-bold.woff2') format('woff2'),
    url('../fonts/cera-pro-bold.woff') format('woff'),
    url('../fonts/cera-pro-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
