// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-color: #131820;
$text-color--light: #fff;

$bg-color: #fff;
$bg-color--shade: #f2f2f3;
$bg-color--dark: $text-color;

$primary-color: #4075bf;
$accent-color: #f6b709;

// Semantic colors
$success: #16c98d;
$warning: #ffc83f;
$danger: #fa5e5b;

// Fonts
$font-family: 'Cera Pro', -apple-system, blinkmacsystemfont, 'Segoe UI', roboto,
  oxygen-sans, ubuntu, cantarell, 'Helvetica Neue', sans-serif;

$font-family--monospace: menlo, monaco, consolas, 'Liberation Mono',
  'Courier New', nospace;

// Misc
$border-color: rgba($text-color, 0.125);
$border-radius: 2px;
$opacity: 0.5;
$box-shadow: 0 15px 45px -15px rgba($text-color, 0.25);
$transition-timing: cubic-bezier(0.165, 0.85, 0.45, 1);
