.get-more-info {
  padding: 0 0 45px;

  @include media-min-md {
    padding: 4.5rem 1.5rem 6rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

    @include media-min-md {
      display: grid;
      gap: 20px;
      grid-template: 'content . cover' / 5fr 1fr 6fr;
    }
  }

  &__content {
    padding: 1.5rem 1rem;

    @include media-min-md {
      align-self: center;
      grid-area: content;
      padding: 0;
    }
  }

  &__subtitle {
    display: block;
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 0.75rem;
    font-weight: 500;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2.25rem;
    max-width: 30rem;
  }

  &__cover {
    position: relative;
    height: 100%;
    overflow: hidden;

    &::before {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 375px;
    }

    @include media-min-md {
      grid-area: cover;
      height: 100%;

      &::before {
        padding-bottom: 100%;
      }
    }
  }

  &__cover-wrap {
    position: absolute;
    top: -12.5%;
    left: 0;
    width: 100%;
    height: 125%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__form-actions {
    margin-top: 2.25rem;
  }
}
