.slider-pagination {
  display: flex;
  align-items: center;

  .swiper-pagination-bullet {
    position: relative;
    width: 6px;
    height: 6px;
    outline: none;
    opacity: 1;
    background: transparent;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      border: 1px solid $primary-color;
      transform: translate3d(-50%, -50%, 0) scale(0);
      transition: 500ms $transition-timing;
      border-radius: 12px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 6px;
      height: 6px;
      transform: translate3d(-50%, -50%, 0) scale(1);
      transition: 500ms $transition-timing;
      border-radius: 6px;
      background-color: currentColor;
      opacity: 0.25;
    }

    &:not(:last-child) {
      margin-right: 27px;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: rgba(#fff, 0);

    &::before {
      transform: translate3d(-50%, -50%, 0) scale(1);
    }

    &::after {
      transform: translate3d(-50%, -50%, 0) scale(0);
    }
  }
}
