.clients {
  padding: 2.25rem 1rem;
  background-color: $bg-color--shade;
  overflow: hidden;

  @include media-min-sm {
    padding: 4.5rem 1.5rem 6rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  &__slider {
    padding: 0 1rem;

    @include media-min-sm {
      padding: 0;
    }
  }

  &__slide {
    height: auto;
  }

  &__slider-pagination {
    margin-top: 1rem;
    display: flex;
    justify-content: center;

    @include media-min-md {
      display: none;
    }
  }
}
