.product {
  padding: 1rem 1rem 2.25rem;

  @include media-min-sm {
    padding: 3rem 1.5rem 6rem;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;

    @media (min-width: $screen-xs) {
      display: grid;
      gap: 20px;
      grid-template: 'media info' / 6fr 6fr;
    }

    @media (min-width: $screen-sm) {
      display: grid;
      gap: 20px;
      grid-template: 'media . info' / 6fr 1fr 5fr;
    }
  }

  &__media {
    position: relative;
    margin-bottom: 1rem;

    @media (min-width: $screen-xs) {
      align-self: center;
      grid-area: media;
      margin-bottom: 0;
    }

    &::after {
      content: '';
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {

    @media (min-width: $screen-xs) {
      align-self: center;
      grid-area: info;
    }
  }

  &__breadcrumbs {
    display: none;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__price {
    display: block;
    font-size: 1rem;
    line-height: 1.45em;
    font-weight: 500;
    opacity: 0.5;
    margin-bottom: 0.75rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 1.5rem;
    }
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.45em;
    opacity: 0.75;
    margin-bottom: 1.5rem;

    @media (min-width: $screen-sm) {
      margin-bottom: 2.25rem;
    }
  }
}
